body {

  background-color: #009688;
}
a {
  text-decoration: none;
}

#wrapper {
  border: 2px solid white;
  border-radius: 10px;
  width: 95%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

.title-div {
  color: white;
  font-size: 250%;
  font-family: Montserrat;
  margin: 5% auto 3% auto;
  height: 100px;
  width: 130px;
  padding-left: 10px;
  padding-top: 4px;
}

/*SHORT INTRO*/

#user-story {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  font-family: Lora;
  color: white;
  font-size: 600%;
  width: 70%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

/*PROJECT BUTTONS*/

#project-container {
  margin: 0% 0% 0% 30%;
  width: 70%;
  overflow: hidden;
}

  .project-div {
    height: 50px;
    line-height: 50px;
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 8px 6px -6px black;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-family: Montserrat;
    font-size: 140%;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    transition: 0.25s ease;
  }

  .project-div:hover {
    padding-left: 25%;
    padding-right: 25%;
  }


/*COLORS OF PROJECT BUTTONS*/
#calc {
  background-color: #880E4F;
}

#jokes {
  background-color: #4CAF50;
}

#quotes {
  background-color: #E91E63;
}

#accomplishments {
  background-color: #455A64;
}

#random-tasks {
  background-color: #3F51B5;
}

/*FOOTER BUTTONS*/
.button-container {
  display: flex;
  justify-content: center;
  margin: 5% auto 2% auto;
}
.button {
  height: 35px;
  padding: 7px;
  text-decoration: none;
  float: left;
  text-align: center;
  line-height: 35px;
  font-family: Montserrat;
  font-size: 125%;
  color: white;
  margin-left: 2%;
  border-radius: 3px;
  transition: all 0.35s ease;
}
  .button:hover {
    text-decoration: none;
     color: white;
     box-shadow: 0px 0px 2px 1px white;
  }
