body {

  background-color: #009688;
}
a {
  text-decoration: none;
}

#wrapper {
  border: 2px solid white;
  border-radius: 10px;
  width: 95%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}

/*SHORT INTRO*/

#user-story {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  margin-top: 5%;
  font-family: Lora;
  color: white;
  font-size: 600%;
  width: 70%;
  text-align: center;
}

/*PROJECT BUTTONS*/

#project-container {
  width: 100%;
  overflow: hidden;
}

  .project-div {
    height: 50px;
    line-height: 50px;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 7%;
    box-shadow: 0px 8px 6px -6px black;
    color: white;
    font-family: Montserrat;
    font-size: 140%;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }

  .project-div:hover {
    filter: invert(100%);
    transform: scale(1.05, 1.05);
  }


/*COLORS OF PROJECT BUTTONS*/
#calc {
  background-color: #880E4F;
}

#jokes {
  background-color: #4CAF50;
}

#quotes {
  background-color: #E91E63;
}

#accomplishments {
  background-color: #455A64;
}

#tomorrow {
  background-color: #f44336;
}

#translate {
  background-color: #4d90fe;
}

#auto-pattern {
  background-color: white;
  color: black;
}